.gray{background: gray;}
.white{background: white;}

/* Theme 1 */
.bg1{background: #050c9c;}
.bg2{background: #3572ef;}
.bg3{background: #3abef9;}
.bg4{background: #a7e6ff;}

.color1{color: #00224d;}
.color2{color: #5d0e41;}
.color3{color: #a0153e;}
.color4{color: #ff204e;}