.mainPage {
    display: flex;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    padding: 50px;

    border-radius: 20px;
}

.mainPage-home {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    gap: 50px;
}

.mainPage-homeTop {
    display: flex;
    box-sizing: border-box;

    justify-content: space-between;

    width: 100%;
    height: 50%;
    gap: 50px;
}

.mainPage-homeBot {
    display: flex;
    box-sizing: border-box;

    width: 100%;
    height: 50%;

    gap: 50px;
}

.profileImg {
    display: flex;
    box-sizing: border-box;
    border-radius: 15px;

    aspect-ratio: 1 / 1;

    background: url(../img/profile.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.profileDesc {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    gap: 20px;
    
    justify-content: center;
    text-align: justify;
}

.block {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    border-radius: 15px;
    padding: 50px;

    aspect-ratio: 1/1;

    justify-content: space-between;
}

.blockAlt {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    border-radius: 15px;
    padding: 50px;

    width: 100%;

    justify-content: space-between;
}

.logo {
    display: flex;
    box-sizing: border-box;

    justify-content: center;
    align-items: center;

    border: 2px solid #ffffff;
    border-radius: 100%;

    width: fit-content;
}

.logo img {
    padding: 10px;
    width: 50px;
}

.blockDetail h1 {
    font-size: 48pt;
}

.blockDetail h2 {
    font-size: 32pt;
}

.blockDetail h3 {
    font-size: 20pt;
}

.blockDetail h4 {
    font-size: 16pt;
}