.sideNav {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    height: 100%;
    width: fit-content;

    justify-content: space-between;
    align-items: center;
}

.sideNav-logo {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.sideNav-logo h1 {
    font-size: 56pt;
}

.sideNav-link {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    gap: 50px;
}

.pagelinks {
    display: flex;

    justify-content: center;
    align-items: center;
}

.pagelinks button:hover {
    scale: 1.5;
    
}

.pagelinks button {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 10px;

    border: none;
    background: transparent;

    transition: .3s;
}

.pagelinks img {
    width: 25px;
}